{% extends "base.html" %}

{% block extraHead %}
<script src="{{MEDIA_URL}}js/base.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/models.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/statkeeper.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/actions.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/widgets.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery-ui-1.8.17.custom.css"/>
<link rel="stylesheet" href="{{MEDIA_URL}}css/statkeeper.css"/>

<script>
    $(function() {
        ESB.RaceImgMap = {
            terran: "{{MEDIA_URL}}icons/Terran.png",
            protoss: "{{MEDIA_URL}}icons/Protoss.png",
            zerg: "{{MEDIA_URL}}icons/Zerg.png"
        };
        SKActionIconMap = {
            'baseInvaded':"{{MEDIA_URL}}img/target.png",
            'harassment':"{{MEDIA_URL}}img/target.png",
            'engagement':"{{MEDIA_URL}}img/target.png",
            'default':"{{MEDIA_URL}}img/target.png",
        }

        window.SKSwapURL = "{% url match-swap-sides match.id %}"
        window.BaseLeftPlayer = new SKPlayer({{player_left_data|safe}});
        window.BaseRightPlayer = new SKPlayer({{player_right_data|safe}});
        window.BaseMatch = new SKMatch({{match_data|safe}}, {
            leftPlayer: BaseLeftPlayer,
            rightPlayer: BaseRightPlayer
        });
        window.MatchTimer = new ESB.Timer();
        window.MatchView = new SKMatchView({match: BaseMatch, el: $("#match-content")});
        window.QueueView = new SKActionQueueView({el: $("#action-queue")});
        window.MatchActions = [];
        QueueView.setMatchView(MatchView);
        MatchView.setQueueView(QueueView);
        MatchView.render();
        window.MediaURL = "{{MEDIA_URL}}";
//TODO        queueView.render();
        $('.settings .swap').click(function() {
            var shouldSwap = confirm(
                "If you swap the players positions all of the current stat" +
                "keeping progress will be lost.  Do you still wish to continue?"
            )
            if (shouldSwap) {
                window.location = SKSwapURL;
            }
        }
        )
    });
</script>
{% endblock %}

{% block header %}
    <h1 class="content-title">Matchup Tracker</h1>
    <div class="btn-group settings">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-cog"></i>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="swap" href="#">
                <i class="icon-refresh"></i> Swap Player Sides
            </a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div id="match-content" class="span9"></div>
    <div id="action-queue" class="span3"></div>
</div>
{% endblock %}

{% block templates %}
<script type="text/template" id="SKMatchView">
    <div class="row">
        <div class="player span4" id="player-left"></div>
        <div class="span1" id="match-controls"></div>
        <div class="player span4" id="player-right"></div>
    </div>
    <hr>
    <div class="row">
        <% if (match.get("state") == SKMatch.StateMap.unpublished) { %>
            <p class="match-hint">Add both players' names and races to publish.</p>
        <% } else if (match.get("state") == SKMatch.StateMap.published) { %>
            <% if (loading) { %>
                <img src="{{MEDIA_URL}}img/loader.png"/>
            <% } else { %>
                <p class="match-hint">Click start as soon as the match begins.</p>
            <% } %>
        <% } else if (match.get("state") == SKMatch.StateMap.started) { %>
            <div id="action-content" class="span9"></div>
        <% } else { %>
            <p class="match-hint">This match is finished. There is nothing left to do here.</p>
        <% } %>
    </div>
</script>
<script type="text/template" id="SKPlayer">
    <% if(editable) { %>
        <input type="text" class="player-name-input" value="<%= player.get("name") %>"
          placeholder="Add player's name..." class="xlarge"/>
        <ul class="nav nav-pills race">
            <li class="dropdown">
                <a class="dropdown-toggle race-selection" data-toggle="dropdown" >
                    <% if(raceSelectedImg) { %>
                        <img class='selection' src='<%=raceSelectedImg%>' height='<%=size%>' width='<%=size%>'/>
                    <% } else { %>
                        <p class="empty-race">Race</p>
                    <% } %>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu race-dropdown-menu _race_dropdown">
                </ul>
            </li>
        </ul>
    <% } else { %>
        <p><%= player.get("name") %></p>
        <img class='selection' src='<%=raceSelectedImg%>' height='<%=size%>' width='<%=size%>'/>
    <% } %>
</script>
<script type="text/template" id="SKRace">
    <li><a class="_race_option" data-race="<%=race%>">
        <img width="<%=thumbSize%>" height="<%=thumbSize%>" data-race="<%=race%>" src="<%=raceImg%>"/>
    </a></li>
</script>
<script type="text/template" id="SKMatchControls">
    <div id="next-state-button">
    <% switch (match.get('state')){
        case SKMatch.StateMap.unpublished: %>
            <a class="btn btn-primary">Publish</a>
    <%      break;
        case SKMatch.StateMap.published: %>
            <a class="btn btn-success">Start</a>
    <%      break;
        case SKMatch.StateMap.started: %>
            <p class="timer"><%=timer.displayClock()%></p>
            <a class="btn btn-danger">End</a>
    <%      break;
        case SKMatch.StateMap.ended: %>
            <a class="btn btn-disabled">Finished</a>
    <%      break;
    }%>
    </div>
</script>
<script type="text/template" id="SKActionControlView">
    <div class="span3 match-control-group" id="left-player-actions">
        <% for (var i=0; i < playerActions.length; i++) { %>
            <div><a class="btn match-control player" 
                    data-action="<%=playerActions[i].action_type%>"
                    data-name="<%=playerActions[i].name%>"
                    data-player="left">
                <%=playerActions[i].name%>
            </a></div>
        <% } %>
    </div>
    <div class="span3 match-control-group" id="playerless-actions">
        <% for (var i=0; i < nonPlayerActions.length; i++) { %>
            <div><a class="btn match-control nonplayer" 
                    data-action="<%=nonPlayerActions[i].action_type%>"
                    data-name="<%=nonPlayerActions[i].name%>">
                <%=nonPlayerActions[i].name%>
            </a></div>
        <% } %>
    </div>
    <div class="span3 match-control-group" id="right-player-actions">
        <% for (var i=0; i < playerActions.length; i++) { %>
            <div><a class="btn match-control player" 
                    data-action="<%=playerActions[i].action_type%>"
                    data-name="<%=playerActions[i].name%>"
                    data-player="right">
                <%=playerActions[i].name%>
            </a></div>
        <% } %>
    </div>
</script>

<script type="text/template" id="SKActionView">
    <div class="span6">
        <h2 class="action-title">
            <% if (action.get("actor")) { %>
                <span class="actor">[<%=action.get("actor").name%>]</span>
            <% } %>
            <%=action.name%>
        </h2>
    </div>
    <div class="span3">
        <div class="btn-group">
            <a id="prev-pane" class="action-controls btn <%=prevButtonClass%>">
                <i class="icon-chevron-left"></i> <%=prevButtonText%>
            </a>
            <a id="queue" class="btn action-controls">
                <i class="icon-pause"></i> Queue
            </a>
            <a id="next-pane" class="action-controls btn <%=nextButtonClass%>">
                <%=nextButtonText%> <i class="icon-chevron-right"></i></a>
        </div>
    </div>
    <hr class="dashed span9"/>
    <!--
    <div class="span9">
        <textarea class="story span9" placeholder="Add a story..."><%=story%></textarea>
    </div>
    -->
    <div class="span9"><div class="row" id="action-pane">
    </div></div>
</script>
<script type="text/template" id="SKArmoryView">
        <div class="span3 armory-search-container">
            <h4>Search:</h4>
            <input type="text" class="armory-search span3">
            <ul class="armory-search-results dropdown-menu"></ul>
        </div>
        <div class="span6">
            <%
            var icon;
            var group;
            for (var type in elements) {
                group = elements[type];
                if (group) {
            %>
                <h4><%=type[0].toUpperCase() + type.substr(1)%>:</h4>
            <%
                    for (var i=0; i < elements[type].length; i++) { 
                        icon = elements[type][i].toLowerCase().replace(new RegExp('[ -]', 'g'), '_')
            %>
                <img class="armory-icon"
                     data-name="<%=elements[type][i]%>"
                     src="{{MEDIA_URL}}/sc2/icons/<%=icon%>.gif"/>
            <%
                    }
                }
            }
            %>
        </div>
    </div>
</script>
<script type="text/template" id="SKArmoryViewResults">
    <% for (var i=0; i < results.length; i++) { %>
        <li><a 
            class="
            armory-search-result
           <% if (i==resultIndex) { %> selected <% } %>
            "
            data-name="<%=results[i]%>"
        >
            <%=results[i]%>
        </a></li>
    <% } %>
</script>
<script type="text/template" id="SKArmoryQuantityView">
    <div class="span9 quantity-row"><div class="row">
        <div class="span3 quantity-info">
            <% var icon = type.toLowerCase().replace(new RegExp('[ -]', 'g'), '_') %>
            <img src="{{MEDIA_URL}}/sc2/icons/<%=icon%>.gif"/>
            <h2 class="quantity-name"><%-type%></h2>
        </div>
        <div class="span6 quantity-controls">
            <div class="btn-group estimates">
            <%
            var estimate, i, length=estimates.length;
            for (i=0; i < length; i++) { 
                estimate = estimates[i];
            %>
                <a 
                    data-estimate="<%=estimate%>" 
                    class="btn quantity-estimate quantity-estimate-<%=estimate%>
                    <% if (selectedEstimate==estimate) { %> active <% } %>">
                    <%-estimate%>
                </a>
           <% } %>
            </div>
            <a class="remove btn btn-danger">&times;</a>
        </div>
    </div></div>
</script>
<script type="text/template" id='SKPaneSupplyUpdate'></script>
<script type="text/template"  id='SKPanePositioning'></script>
<script type="text/template" id='SKPaneUnitComposition'>
    <div id="quantities" class="row">
    </div>
    <div id="armory" class="row">
    </div>
</script>
<script type="text/template" id="SKActionQueueView">
    <% 
    var i, length, actionOptions;
    for (i=0, length=actionOptionsList.length; i < length; i++) {
        actionOptions = actionOptionsList[i];
    %>
        <div class="alert fade in queue-action"
             id="action-<%=actionOptions.action.id%>">
            <p class="action-time">
                <%=ESB.Timer.displayClock(actionOptions.action.get('started_at'))%>
            </p>
            <h3><%=actionOptions.action.get("name")%></h3>
            <p class="action-status"><%=actionOptions.statusText%></p>
            <div class="action-control-container">
                <% 
                if (actionOptions.action.get('stage')!="won") {
                    var j, bLength, button;
                    for (j=0, bLength=actionOptions.buttons.length; j<bLength; j++) {
                        button = actionOptions.buttons[j];
                %>
                        <a class="btn" data-stage="<%=button.stage%>" data-action-index="<%=i%>">
                            <%=button.text%>
                        </a>
                <%
                    }
                } else {
                %>
                    <p>Who won?</p>
                    <div class="win-bar" data-action-index="<%=i%>"></div>
                    <a class="btn" data-stage="finished" data-action-index="<%=i%>">
                        Done
                    </a>
                <%
                }
                %>
            </div>
        </div>
    <% } %>
</script>
<script type="text/template" id="SKActionPopup">
    <div id="map-popup" class="action-popup">
        <p class="action-time"><i class="icon-white icon-time"></i>
        <% if (startedAt != finishedAt) { %>
            <%=startedAt%>-<%=finishedAt%>
        <% } else { %>
            <%=startedAt%>
        <% } %>
        </p>
        <a class="action-popup-control action-delete" data-action-index=<%=actionIndex%> href="#">
            <i class="icon-white icon-trash"></i>
        </a>
        <a class="action-popup-control action-edit" data-action-index=<%=actionIndex%> href="#">
            <i class="icon-white icon-pencil"></i>
        </a>
        <div class="clear"></div>
        <!--hr class="clear"></hr-->
        <h1 class="action-title"><%=action.name%></h1>
        <% if (action.getActorsName()) { %>
            <p class="action-actor <%=action.get("side")%>">
                <%=action.getActorsName()%>
            </p>
        <% } %>
        <hr class="clear"></hr>
        <!--div class="clear"></div-->
        <div class="phase-list-container"></div>
    </div>
</script>
<script type="text/template" id="SKActionControlPopup">
    <div id="map-popup">
    <% 
    var length=actions.length, i, action;
    for (i=0; i < length; i++) {
        action = actions[i];
        if (action.sym) {
    %>
        <a class="btn symmetric action-control"
            data-position-x="<%=position.x%>"
            data-position-y="<%=position.y%>"
            data-action-type="<%=action.action_type%>"
        ><%=action.name%></a>
    <% } else { %>
        <div class="btn-group controls">
        <a class="btn btn-primary left action-control"
            data-position-x="<%=position.x%>"
            data-position-y="<%=position.y%>"
            data-action-type="<%=action.action_type%>"
            data-action-side="left"
        ><%=action.name.substr(0,action.name.length/2)%></a>
        <a class="btn btn-danger right action-control"
            data-position-x="<%=position.x%>"
            data-position-y="<%=position.y%>"
            data-action-type="<%=action.action_type%>"
            data-action-side="right"
        ><%=action.name.substr(action.name.length/2)%></a>
        </div>
    <% 
        }
    } 
    %>
    </div>
</script>
<!--Phases-->
<script type="text/template" id="SKWinPhase">
    <p class="win-bar-title"> Who won? </p>
    <p class="win-bar-name win-bar-left"><%=leftPlayerName%></p>
    <p class="win-bar-name win-bar-right"><%=rightPlayerName%></p>
    <div class="clear"></div>
    <div class="win-bar"></div>
</script>
<script type="text/template" id="SKOngoingPhase">
    <a class='btn' data-control='change' data-change='reinforcement'>
        Reinforce
    </a>
    <a class='btn' data-control='end'>Finish</a>
</script>
<script type="text/template" id="SKReengagePhase">
    <a class='btn' data-control='end'>Re-engage</a>
</script>
<script type="text/template" id="SKForcesPhase">
<div>
    <div class="row">
        <div class="span7">
            <h1><%=header%></h1>
        </div>
        <div class="span2">
            <a class="done-btn btn" data-control="end">Done</a>
        </div>
    </div>
    <div class="row">
        <div class="forces span9"></div>
    </div>
<div>
</script>
<script type="text/template" id="SKForcesDonePhase">
<div>
    <p><%=header%></p>
    <div>
        <%
        var unit, i, length=forces.length;
        for (i=0; i < length; i++) { 
            unit = forces[i];
        %>
            <div class="forces-phase-icon-container
                <% if (i%5 == 4) { %> row-last <% } %>">
                <img class="forces-phase-icon"
                     src="<%=ESB.Util.getIconURL(unit.type, MediaURL)%>"/>
                <div class="forces-phase-icon-quantity"><%-unit.estimate%></div>
            </div>
        <%
        }
        %>
        <div class="clear"></div>
    </div>
<div>
</script>
{% endblock %}
