
{% extends "base.html" %}

{% load utils %}

{% block extraHead %}
    <link rel="stylesheet" href="{{MEDIA_URL}}css/bracket.css"/>
    <script>
    window.SKMaps = {{maps|safe}}
    window.SKPlayers = {{players|safe}}
    window.SKMatches = {{matches|safe}}
    function whichTransitionEvent(){
        var t;
        var el = document.createElement('fakeelement');
        var transitions = {
          'transition':'transitionEnd',
          'OTransition':'oTransitionEnd',
          'MSTransition':'msTransitionEnd',
          'MozTransition':'transitionend',
          'WebkitTransition':'webkitTransitionEnd'
        }

        for(t in transitions){
            if( el.style[t] !== undefined ){
                return transitions[t];
            }
        }
    }
    $(function() {
        var enabled = true;
        $('[data-control="matches-toggle"]').click(function(evt) {
            var target = $(evt.target);
            var container = target.closest(".collection");
            container.children().toggle();
/*            if (enabled) {
                enabled = false;
                var target = $(evt.target);
                var container = target.closest(".collection");
                evt.preventDefault();
                var flat = container.children(".flat");
                var flipped = container.children(".flipped");
                var transitionEnd = whichTransitionEvent();
                flat.get(0).addEventListener(transitionEnd, function() {
                    flat.hide()
                    flipped.show()
                    flipped.toggleClass("flat");
                    flipped.toggleClass("flipped");
                    enabled = true;
                }, false);
                flat.toggleClass("flipped");
                flat.toggleClass("flat");
            } */
        })
        $('[data-match-url]').click(function(evt) {
            var target = $(evt.target);
            target = target.closest("[data-match-url]");
            var url = target.attr("data-match-url");
            window.location = url;
        });

        $(".match").add(".match-inline").hover(function(evt) {
                var target = $(evt.target).closest('.match, .match-inline');
                target.find(".editor-controls").show()
            },
            function (evt) {
                var target = $(evt.target).closest('.match, .match-inline');
                target.find(".editor-controls").hide()
            }
        );
        $(".match").add(".match-inline")
        .delegate(".quick-add", "click", function(evt) {
            evt.preventDefault();
            ESB.Util.stopPropagation(evt);
            var target = $(evt.target).closest(".match, .match-inline");
            var tmpl = ESB.Template.make("QuickAddView");
            var match = SKMatches[target.data("match-id")]
            $("body").append(tmpl({
                match: match,
                players: SKPlayers,
                maps: SKMaps
            }));
            $("QuickAddModal").modal().show();
        });
        $('body').delegate('.form-submit', 'click', function(evt) {
            console.log("WHAT THE FUCK?")
            var target = $(evt.target);
            var formID = target.attr("data-form-submit");
            var form = $("#"+formID)
            form.submit();
        });
    });
    </script>
{% endblock %}

{% block header %}
  <h1>{{tournament.full_name}}</h1>
{% endblock %}
{% block content %}
    <h2>Round of 32</h2>
{% for row in ro32_collections|partition:4 %}
    <div class="row">
    {% for collection in row %}
        {% include "matches/tournaments/dual_collection.html" %}
    {% endfor %}
    </div>
{% endfor %}
    <h2>Round of 16</h2>
{% for row in ro16_collections|partition:4 %}
    <div class="row">
    {% for collection in row %}
        {% include "matches/tournaments/dual_collection.html" %}
    {% endfor %}
    </div>
{% endfor %}
<div class="row bracket">
    <h2 class="span12">Playoffs</h2>
{% for collection in playoffs %}
    <div class="collection span4">
    {% with level=forloop.counter %}
        {% for match in collection.match_set.all %}
        <div class="match bracket-level-{{level}}" data-match-url="{{match.url}}" data-match-id="{{match.id}}"> 
            <div class="btn-group editor-controls">
                <a class="btn quick-add"><i class="icon-time"></i></a>
                <a class="btn"><i class="icon-pencil"></i></a>
            </div>
        {% for side,player in match.player_data|for_sides:"left,right" %}
            {% if player %}
            <div class="player
                {{side}}
                {% if match.winner == player %}
                    winner 
                {% else %}
                    loser
                {% endif %}"
                 data-player="{{player.player.name}}">
                <p class="score">{{match.wins|get:side}}</p>
                <p class="name">{{player.player.name}}</p>
            </div>
            {% else %}
            <div class="player empty">
                <p class="name">TBD</p>
                <p class="score">-</p>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
    {% endwith %}
    </div>

<script type="text/template" id="QuickAddView">
    <div class="modal map-selector-modal" id="QuickAddModal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3>Quick Add</h3>
        </div>
        <div class="modal-body">
            <form id="quick-add-form" action="{% url quick-add %}" method=post>
                {% csrf_token %}
                <input type="hidden" name="match_id" value="<%=match.id%>"/>
                <div class="well">
                    <select class="left-player-select player-select" name='left-player'>
            <% 
            var i, length=players.length+1, player;
            for (i=0; i < length; i++) {
                if (i==0) {
            %>
                        <option value="">--None--</option>
            <% 
                } else {
                    player = players[i-1];
            %>
                        <option value="<%=player.id%>"><%=player.name%></option>
            <% 
                }
            } 
            %>
                    </select>
                    <p class="verse">vs</p>
                    <select class="right-player-select player-select" name='right-player'>
            <% 
            length=players.length+1;
            for (i=0; i < length; i++) {
                if (i==0) {
            %>
                        <option value="">--None--</option>
            <% 
                } else {
                    player = players[i-1];
            %>
                        <option value="<%=player.id%>"><%=player.name%></option>
            <% 
                }
            } 
            %>
                    </select>
                </div>
            <% 
            var game={};
            for (i=0; i < match.best_of; i++) {
            %>
                <div class="game-edit-row">
                    <input type="radio" name="game_<%=i%>-winning_side" value="left"
                <% if (game.winning_side == 'left') { %>
                    selected
                <% } %>
                    </input>
                    <select name="game_<%=i%>-map">
                <% 
                var j, maps_length=maps.length+1, map;
                for (j=0; j < maps_length; j++) {
                    if (j==0) {
                %>
                        <option value="">--None--</option>
                <% 
                    } else {
                        map = maps[j-1];
                %>
                    <option value="<%=map.id%>"><%=map.name%></option>
                <% 
                    }
                }
                %>
                    </select>
                    <input type="radio" name="game_<%=i%>-winning_side" value="right"
                <% if (game.winning_side == 'right') { %>
                    selected
                <% } %>
                    </input>
                </div>
            <% } %>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Cancel</a>
            <a href="#" class="btn btn-primary form-submit" data-form-submit="quick-add-form">Quick Add</a>
        </div>
    </div>
</script>
{% endfor %}
{% endblock %}
