div.dropdown a {
    padding: 8px;
    margin: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div.dropdown a:hover {
    text-decoration: none;
    background-color: #EEE;
}
.race-dropdown-menu {
    width: 66px;
    max-width: 66px;
    min-width: 66px;
}
#content {
    height: 680px;
    margin-bottom: 20px;
}
.player {
    margin-top: 20px;
}
.player input {
    float:left;
    width: 280px;
    margin: 10px;
}
.player p {
    float:left;
    width: 280px;
    margin: 15px;
}
#player-left {
    background-color: #BBF;
}
#player-right {
    background-color: #FBB;
}
.race-selection p {
    margin: 0px;
    margin-top: 5px;
    float: left;
    width: 30px;
}
a.dropdown-toggle.race-selection {
    height: 28px;
    padding: 3px 6px;
    margin-top: 6px;
}
a.dropdown-toggle.race-selection b.caret {
    margin-top: 10px;
}
ul.nav.pills.race {
    margin-bottom: 0px;
}
#next-state-button {
    text-align: center;
}
#next-state-button .btn{
    margin-top: 30px;
}
#next-state-button .btn-danger.btn{
    margin-top: 0px;
}
.timer {
    margin: 20px 0px 0px;
}
.player img {
    padding-top: 8px;
}
.player p {
    width: 300px;
    font-weight: bold;
    font-size: 18px;
}
.game-hint {
    text-align: center;
}
#action-content {
    position: relative;
    background-color: black;
}
#action-content .game-control-group{
    text-align: center;
}
#action-content .player.game-control {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 40px;
    width: 187px;
}

#action-content .nonplayer.game-control {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 5px;
    margin-left: -5px;
}

#action-content .story {
    margin-top: 10px;
}
#action-content .actor {
    color: gray;
    margin-bottom: 10px;
    font-size: 20px;
}
.dashed {
    border-top: dashed darkGray 1px;
}
.armory-icon {
    width:44px;
}
.armory-search-results {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    position: absolute;
    top: 50px;
    display: initial;
    width: 290px;
    max-width: 290px;
    min-width: 290px;
}
.armory-search-container {
    position: relative;
}
a.selected {
    background-color: darkgray;   
}
.quantity-estimate {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 30px;
}
.quantity-estimate-5, .quantity-estimate-4, .quantity-estimate-3, .quantity-estimate-2, .quantity-estimate-1 {
    padding: 5px 15px;
}
.btn.quantity-adjuster {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
}
input.quantity {
    float: left;
    width: 40px;
    font-size: 24px;
    height: 31px;
    text-align: right;
}
.quantity-controls .btn-group {
    padding: 10px 10px 10px 0px;
    float: left;
}
.quantity-row {
   background-color: #EEE;
   padding: 10px 0px;
   margin-bottom: 10px;
}
.quantity-name {
    padding-left: 10px;
}
.remove-container {
   padding-top:13px; 
}
.remove.btn {
    padding: 0px 13px 4px 13px;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 5px;
    float: left;
}
.btn {
    line-height: normal;
}
.action-controls {
    font-size: 18px;
}
.action-controls i {
    font-size: 18px;
    margin-top: 4px;
}
.quantity-info img {
    float: right;
}
#action-queue {
    margin-top: 20px;
}
.queue-action {
    position: relative;
    padding: 10px;
}
.queue-action .action-time {
    float: right;
}
.queue-action .action-status {
    font-style: italic;
}
.queue-action .action-control-container {
    text-align: right;
}
.queue-action .action-control-container p {
    text-align: left;
}
.win-bar .ui-slider-range {
    background: #66F;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 150px;
}
.win-bar.ui-slider {
    background: #F66;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0px;
}
.win-bar .ui-slider-handle {
    height: 25px;
}
.player .control-group {
    margin-bottom: 0px;
}
.player select {
    width: 180px;
}
.player-left .well {
    background-color: #BBF;
}
.player-right .well {
    background-color: #FBB;
}
.player .span {
    width: 250px;
}

.short-form .span {
    width: 170px;
}
.short-form select, .short-form input {
    width: 100px;
}
.line-form select, .line-form input{
    float: left;
}
.form-horizontal .control-group {
    padding: 15px 0px 0px;
    margin-bottom: 10px;
}
.player .control-group {
    padding: 10px 0px;
}
.form-horizontal .control-group > label {
    padding-right: 10px;
    width: 90px;
}
#map_preview {
    height: 300px;
    margin: 20px 0px;
    border: solid #444 3px;
}
#map-popup {
    text-align: center;
    background: #444;
    opacity: .85;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 110px;
    position: absolute;
    top: 40px;
    right: 10px;
}

#map-popup .controls {
    padding-bottom: 10px;
    margin: 0px;
}


#map-popup .controls .btn {
    width: 53px;
    padding: 4px 0px;
}

#map-popup a.symmetric {
    margin-bottom: 10px;
}

#map-popup div.controls:last-child {
    padding-bottom: 0px;
}
#map-popup a.symmetric:last-child {
    margin-bottom: 0px
}

#map-popup .controls .left {
    text-align: right;
}
#map-popup .controls .right {
    text-align: left;
}
#map-popup .symmetric {
    width: 86px;
} 
#map-popup .action-title {
    font-size: 20px;
    text-align: left;
    color: white;
    float: left;
    line-height: 1;
}
#map-popup .action-actor {
    font-size: 12px;
    float: right;
    line-height: 20px;
}
#map-popup p.left {
    color: #BBF;
}
#map-popup p.right {
    color: #FBB;
}
#map-popup p {
    color: white;
}
#map-popup .phase {
    padding: 5px 0px;
}
#map-popup.action-popup {
    padding-top: 10px;
    width:200px;
}
.fullscreen {
    position: absolute;
    top: 10px;
    background: #AAA;
    padding: 20px;
    border-radius: 5px;
    border: solid;
    left: 30px;
    opacity: .9;
    text-align: left;
}
.done-btn {
    font-weight: bold;
    font-size: 18px;
    width: 60px;
    float: right;
}
#map-popup .win-bar-name {
    font-weight: bold;
    padding: 0px 5px;
    margin: 0px;
}
#map-popup .win-bar-left {
    color: #BBF;
    float: left;
}
#map-popup .win-bar-right {
    color: #FBB;
    float: right;
}
#map-popup .win-bar-title {
    margin: 0px;
    padding: 0px;
}
.clear {
    clear: both;
}
.content-title {
    display: inline-block;
}
div.settings {
    display: inline-block;
    margin-left: 580px;
}
.action-time {
    float: left;
}
.action-popup hr {
    padding: 0px;
    margin: 20px 0px 0px;
}
.action-popup-control {
    float: right;
    background: #444;
    margin-left: 6px;
}
.action-popup-control:hover {
    opacity: .7;
}
.forces-phase-icon {
    width: 36px;
}
.SKForcesPhase {
    text-align: left;
}
.forces-phase-icon-quantity {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0px 2px;
    background: red;
    opacity: 0.8;
    border-bottom-right-radius: 3px;
    color: white;
    border: black solid 1px;
    font-weight: bold;
}
.forces-phase-icon-container {
    position: relative;
    width: 36px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    height: 36px;
}
.SKForcesPhase .row-last {
    margin-right: 0px;
}
.SKForcesPhase p {
    margin: 0px;
}
#remove-action-controls, #other-action-controls {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: .8;
    font-weight: bold;
}
.map-selector-modal {
    width: 330px;
    display: none;
}
.map-preview {
    width: 500px;
}
