{% extends "base.html" %}

{% block extraHead %}
<script src="{{MEDIA_URL}}js/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery-ui-1.8.17.custom.css"/>
<link rel="stylesheet" href="{{MEDIA_URL}}css/statkeeper.css"/>

<script>
</script>
{% endblock %}

{% block header %}
  <h1>Create a Game:</h1>
{% endblock %}
{% block content %}
<div class="row">
  <form method="POST" class="span12" id="game-form">
    {% csrf_token %}
    <div class="row form-horizontal">
    <div class="span6 player-left player">
        <div class="well line-form control-group">
          {{ left_form.player.label_tag }}{{ left_form.player }}
          {{ left_form.race.label_tag }}{{ left_form.race }}
          {% if left_form.player.errors or left_form.race.errors %}
            <span class="help-inline">
              {% for error in left_form.player.errors %}{{ error|escape }}{% endfor %}
              {% for error in left_form.race.errors %}{{ error|escape }}{% endfor %}
            </span>
          {% endif %}
        </div>
    </div>
    <div class="span6 player-right player">
        <div class="well line-form control-group">
          {{ right_form.player.label_tag }}{{ right_form.player }}
          {{ right_form.race.label_tag }}{{ right_form.race }}
          {% if right_form.player.errors or right_form.race.errors %}
            <span class="help-inline">
              {% for error in right_form.player.errors %}{{ error|escape }}{% endfor %}
              {% for error in right_form.race.errors %}{{ error|escape }}{% endfor %}
            </span>
          {% endif %}
        </div>
    </div>
    </div>
    <div class="row form-horizontal"><div class="span6">
        <div class="control-group">
            {{ match_form.collection.label_tag }}
            {{ match_form.collection }}
        </div>
        {% if match_form.collection.errors %}
        <span class="help-inline">
            {% for error in match_form.collection.errors %}
                {{ error|escape }}
            {% endfor %}
        </span>
        {% endif %}
        <div class="control-group">
            {{ match_form.match_identifier.label_tag }}
            {{ match_form.match_identifier }}
        </div>
        {% if game_form.game_number.errors %}
        <span class="help-inline">
            {% for error in game_match.game_number.errors %}
                {{ error|escape }}
            {% endfor %}
        </span>
        {% endif %}
        <div class="control-group">
            {{ game_form.game_number.label_tag }}
            {{ game_form.game_number }}
        </div>
        {% if game_form.game_number.errors %}
        <span class="help-inline">
            {% for error in game_match.game_number.errors %}
                {{ error|escape }}
            {% endfor %}
        </span>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-large">Create Game</button>
    </div>
    <div class="span6">
        <div class="control-group">
        {{ game_form.game_map.label_tag }}
        {{ game_form.game_map }}
        {% if game_form.game_map.errors %}
            <span class="help-inline">
                {% for error in game_form.game_map.errors %}
                    {{ error|escape }}
                {% endfor %}
            </span>
        {% endif %}
        <div>
            <img id="map_preview" src=""/>
        </div>
        </div>
    </div>
    </div></div>
    <div class="clear"></div>
  </form>
</div>
{% endblock %}

{% block extra_script %}
PreviewMaps = {{maps|safe}};
jQuery(function() {
    var map_select = jQuery("#id_game-game_map");
    var map = jQuery("#map_preview");
    map_select.change(function() {
        var val = map_select.val();
        if (val) {
            map.attr('src', PreviewMaps[val]);
            map.show();
        } else {
            map.hide();
        }
    });
    map_select.change();
});
    
{% endblock %}
